# Build artifacts
**/build/
**/.dart_tool/
**/.next/
**/.gradle/

# Dependencies
**/node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/

# Environment files
*.env
topla-prod.env

# Android signing
topla_app/android/key.properties

# Uploads
topla-backend/uploads/*
!topla-backend/uploads/.gitkeep
*.tar
*.tar.gz
